body {
    font-family: 'DM Mono', monospace;
    background-color: cadetblue;
}

a {
    text-decoration: none;
    border-bottom: 1px dashed yellow;
    padding-bottom: 1px;
}

a:hover {
    border-bottom: 1px solid yellow;
    padding-bottom: 0px;
}

div {
    width: 50vw;
    min-width: 375px;
    position: absolute;
    height: 100%;
}

.top-image {
    top: 100px;
    left: 100px;
    background-image: url(images/bertchen.jpg);
    background-size: cover;
    mix-blend-mode: multiply;
    /* opacity: .4; */
    z-index: 3;
}

.top-image:hover {
    background-image: url(images/bertchen2.jpg);
}

.middle-image img {
    bottom: 20px;
    left: -200px;
    z-index: 2;
    /* mix-blend-mode: screen; */
    background-blend-mode: multiply;
    transform: scale(1.5);
}

.bottom-image {
    right: 100px;
    top: 300px;
    transform: rotate(30deg);
}

cite {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    height: 50px;
    width: 33vw;
    min-width: 250px;
    color: #dadada;
    z-index: 99;
    font-style: normal;
    padding: 10px;
}