body {
    background-color: #dadada;
    color: white;
}

h1 {
    color: black;
}

div {
    width: 500px;
    height: 200px;
}

.static {
    background-color: blue;
    position: static;
    z-index: 6;
}

.relative {
    background-color: yellow;
    position: relative;
    top: 10px;
    right: 50px;
    z-index: 1;
}

.fixed {
    background-color: purple;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 6;
}

.demo {
    position: relative;
    left: 100px;
    border: 1px solid red;
}

.absolute {
    background-color: green;
    position: absolute;
    top: 5px;
    z-index: 1;
}

.sticky {
    background-color: red;
    position: sticky;
    top: 10px;
    z-index: 5;
}

.filler-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    display: visible;
    color: black;
    z-index: 99;
}